<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Forget Password</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', path='/style3.css') }}" rel="stylesheet">
</head>

<body>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form action="/password" method="post">
    <h3>Forget Password</h3>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Enter your email">

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <button type="button" class="submitButton" id="checkBtn" onclick="showPassword()">
        Check
    </button>

    <div id="passwordSection" style="display:none;">
        <label for="password">New Password</label>
        <input type="password" name="password" id="password" placeholder="Enter new password">

        <button type="submit" class="submitButton">  Reset Password </button>
    </div>

    <a href="/login" class="submitButton secondary">
        Login here
    </a>
</form>

<script>
    function showPassword() {
        const email = document.getElementById("email");
        const section = document.getElementById("passwordSection");
        const password = document.getElementById("password");
        const btn = document.getElementById("checkBtn");

        if (!email.value){
            alert("Please enter your email ");
            return ;
        }

        section.style.display="block";
        password.required = true ;
        btn.disabled = true ;
    }
</script>

</body>
</html>
