<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <link href="{{ url_for('static', path='/style3.css') }}" rel="stylesheet">
</head>
<body>

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form action="/login" method="post">
        <h3>Admin Login</h3>
        <input type="hidden" name="csrf_token" value="{{ request.cookies.csrf_token }}">

        <label for="username">Email</label>
        <input type="email" name="email" placeholder="Enter your email" id="username" required>

        {% if error or message %}
            <p class="error">{{ error }}{{ message }}</p>
        {% endif %}

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" id="password" required>

        <button type="submit" class="submitButton">Log In</button>

        <a href="/forget-password" class="forget">Forgot password?</a>

        <a href="/register" class="submitButton secondary">Register here</a>
    </form>

</body>
</html>
