<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', path='/style3.css') }}" rel="stylesheet">
</head>

<body>

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form action="/register" method="post">
    <h3>Register User</h3>
    <input type="hidden" name="csrf_token" value="{{ request.cookies.csrf_token }}">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Enter your email" required>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Create a password" required>

    <button type="submit" class="submitButton">
        Create Account
    </button>

    <p style="margin-top: 16px; text-align: center; font-size: 13px;">
        Already have an account?
    </p>

    <a href="/login" class="submitButton secondary">
        Login here
    </a>
</form>

</body>
</html>
